{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <form method="post" class="col-lg-3 col-md-11 col-sm-12 mt-5 ml-5 mr-2 mb-5
            d-flex flex-column justify-content-center border profile-card">

                <h1 class="mb-3 font-weight-normal text-dark text-center">Mes informations personnelles</h1>
                <div class="text-white d-flex flex-column">

                    <div class="text-center">
                        <p class="text-center text-dark mb-0">Nom</p>
                        {{ app.user.lastname }}
                    </div>
                    <div class="text-center mt-3">
                        <p class="text-center text-dark mb-0">Prénom</p>
                        {{ app.user.firstname }}
                    </div>
                    <div class="text-center mt-3">
                        <p class="text-center text-dark mb-0">Pseudo</p>
                        {{ app.user.username }}
                    </div>
                    <div class="text-center mt-3">
                        <p class="text-center text-dark mb-0">Email</p>
                        {{ app.user.email }}
                    </div>
                    <div class="text-center mt-3">
                        <p class="text-center text-dark mb-0">Téléphone</p>
                        {{ app.user.telephone }}
                    </div>
                    <div class="text-center mt-3">
                        <p class="text-center text-dark mb-0">Adresse</p>
                        {{ app.user.address }}
                    </div>
                    <div class="text-center mt-3">
                        <p class="text-center text-dark mb-0">Ville</p>
                        {{ app.user.city }}
                    </div>
                    <div class="text-center mt-3">
                        <p class="text-center text-dark mb-0">Code Postal</p>
                        {{ app.user.code }}
                    </div>
                    <div class="text-center mt-3">
                        <p class="text-center text-dark mb-0">Région</p>
                        {{ app.user.region }}
                    </div>
                    <div class="text-center">
                        <a href="{{ path('app_profile', {'user': app.user.id}) }}">
                            <button class="mt-5 mb-2 btn btn-lg btn-outline-light">
                                Mettre à jour
                            </button>
                        </a>
                    </div>
                </div>
            </form>
            <div class="col-lg-8 col-md-11 col-sm-11 mt-5 mb-2 mr-0 d-flex flex-column justify-content-around">
                <div class="border profile-card mb-5">
                    <h1 class="text-center my-3">Mes rêves</h1>
                    <div class="d-flex flex-row wishes">
                    {% for wish in wishes %}
                        {% if not wish.message %}
                            <div class="mx-2 my-2 px-4 py-2 d-flex flex-column justify-content-between text-center border">
                                <div>
                                    <h5>{{ wish.lesson.name }}</h5>
                                </div>
                                <div>
                                    <p>Nombre de participant(s)</p>
                                    <p>{{ wish.number }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                        {%  if not wishes %}
                            <div class="ml-1">Vous n'avez pas choisi de rêve à réaliser.</div>
                        {% endif %}
                    </div>
                </div>
                <div class="border profile-card">
                    <h1 class="text-center my-3">Mes offres</h1>
                    <div class="d-flex flex-row wishes">
                    {% for wish in wishes %}
                        {% if wish.message %}
                            <div class="mx-2 my-2 px-4 py-2 d-flex flex-column justify-content-between text-center border">
                                <div>
                                    <h5>{{ wish.lesson.name }}</h5>
                                </div>
                                <div>
                                    <p>Nombre de participant(s)</p>
                                    <p>{{ wish.number }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
