{% extends 'base.html.twig' %}

{% block title %}Faire une offre{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <form method="post" class="col-lg-6 col-sm-12 mt-5 mb-5 d-flex flex-column justify-content-center profile-card">

                <h1 class="mb-3 mt-3 font-weight-normal text-dark text-center">Faites une offre et réalisez ce rêve !</h1>
                <div class="text-white d-flex flex-column">
                    <div class="text-center mt-3 mb-3">
                        <p class="text-center text-dark mb-0">Prestation</p>
                        <p class="text-center mb-0">{{ wish.lesson.name }}</p>
                    </div>
                    <div class="text-center mt-1 mb-3">
                        <p class="text-center text-dark mb-0">Nombre de participant(s)</p>
                        <p class="text-center mb-0">{{ wish.number }}</p>
                    </div>
                    {% if wish.user.city %}
                    <div class="text-center mt-1 mb-3">
                        <p class="text-center text-dark mb-0">Ville du demandeur</p>
                        <p class="text-center mb-0">{{ wish.user.city }}</p>
                    </div>
                    {% endif %}

                    {{ include('wish/_form.html.twig', {'button_label': 'Envoyer l\'offre'}) }}

                    <a href="{{ path('wish_index') }}" class="text-center text-white mt-3 mb-3">Retour à la liste</a>
                </div>
            </form>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}
