{% extends 'base.html.twig' %}

{% block title %}Détail de l'offre{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <form method="post" class="col-lg-6 col-sm-12 mt-5 mb-5 d-flex flex-column justify-content-center profile-card">

                <h1 class="mb-3 mt-3 font-weight-normal text-dark text-center">Détail de l'offre</h1>
                <div class="text-white d-flex flex-column">
                    <div class="text-center mt-3 mb-3">
                        <p class="text-center text-dark mb-0">Prestation</p>
                        <p class="text-center mb-0">{{ wish.lesson.name }}</p>
                    </div>
                    <div class="text-center mt-1 mb-3">
                        <p class="text-center text-dark mb-0">Nombre de participant(s)</p>
                        <p class="text-center mb-0">{{ wish.number }}</p>
                    </div>
                    {% if wish.city %}
                        <div class="text-center mt-1 mb-3">
                            <p class="text-center text-dark mb-0">Ville</p>
                            <p class="text-center mb-0">{{ wish.city }}</p>
                        </div>
                    {% endif %}
                    {% if wish.department %}
                        <div class="text-center mt-1 mb-3">
                            <p class="text-center text-dark mb-0">Département</p>
                            <p class="text-center mb-0">{{ wish.department }}</p>
                        </div>
                    {% endif %}
                    {% if wish.location %}
                        <div class="text-center mt-1 mb-3">
                            <p class="text-center text-dark mb-0">Lieux exact</p>
                            <p class="text-center mb-0">{{ wish.location }}</p>
                        </div>
                    {% endif %}
                        <div class="text-center mt-1 mb-3">
                            <p class="text-center text-dark mb-0">Offre</p>
                            <p class="text-center mb-0">{{ wish.price }} €</p>
                        </div>
                        <div class="text-center mt-1 mb-3">
                            <p class="text-center text-dark mb-0">Nom du Cirque</p>
                            <p class="text-center mb-0">{{ wish.circusName }}</p>
                        </div>
                        <div class="text-center mt-1 mb-3">
                            <p class="text-center text-dark mb-0">Message</p>
                            <p class="text-center mb-0">{{ wish.message }}</p>
                        </div>
                    {% if app.user.isCircus %}
                        <a href="{{ path('circus_profile', {'user': app.user.id}) }}" class="text-center btn btn-outline-light mt-3 mb-3">Retour à mon profil</a>
                    {% else %}
                        <a href="{{ path('app_profile', {'user': app.user.id}) }}" class="text-center btn btn-outline-light mt-3 mb-3">Retour à mon profil</a>
                    {% endif %}
                    {{ include('wish/_delete_form.html.twig') }}
                </div>
            </form>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}
