{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mobile text-dark" href="{{ path('app_index') }}">Wild Circus School</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-dark appname" href="{{ path('app_index') }}">Wild Circus School<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('purpose') }}">Le concept</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('lesson_train') }}">Dressage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('lesson_clown') }}">Clown</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('lesson_acrobatic') }}">Acrobaties</a>
                </li>
                {%  if app.user %}
                    {% if not app.user.isCircus %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ path('wish_new', {'id' : app.user.id}) }}">Réalisez votre rêve</a>
                        </li>
                    {% endif %}
                    {% if app.user.isCircus %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ path('wish_index') }}">Réalisez leur rêve</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav align-content-end">
                {% if app.user %}
                    <li class="nav-link text-black-50">
                        Bonjour {{ app.user.nickname }}
                    </li>
                    {% if app.user.isCircus %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ path('circus_profile', {'user': app.user.id}) }}">Mon Compte</a>
                    </li>
                    {% endif %}
                    {% if not app.user.isCircus %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ path('app_profile', {'user': app.user.id}) }}">Mon Compte</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ path('app_logout') }}"> Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ path('app_login') }}"> Se connecter</a>
                    </li>
                {% endif %}
            </ul>
            <span class="navbar-text">
            </span>
        </div>
    </nav>

{% endblock %}

